.inner-promo{
  background:#ddebf4 url(./img/photo-background@1x.jpg) no-repeat 0 0;
  background-size:100%, cover;
  position:relative;
  overflow:hidden;
  height:160px;
  margin-bottom:63px;
  &__text{
    width:174px;
    display:block;
    margin:0 auto;
    margin-top:24px;
    fill:#fff;
  }
  &--blog{
    margin-bottom:45px;
  }
  &--post{
    margin-bottom:46px;
  }
}

@media(min-width: $mobile){
  .inner-promo{
    background:#ddebf4 url(./img/photo-background@1x.jpg) no-repeat 0 0;
    background-size:102%, cover;
    background-position:center bottom, center;
    height:290px;
    margin-bottom:65px;
    &__text{
      width:458px;
      margin-top:100px;
    }
    &--blog{
      margin-bottom:72px;
    }
    &--post{
      margin-bottom:73px;
    }
  }
}

@media(min-width: $tablet){
  .inner-promo{
    height:300px;
    margin-bottom:103px;
    &--blog{
      margin-bottom:110px;
    }
    &--post{
      margin-bottom:111px;
    }
    &__text{
      &--post{
        margin-bottom:51px;
      }
    }
  }
}