body{
  font-family: $font-family;
  min-width: 320px;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  border: none;
  color: #000;
}

a:hover{
  text-decoration: none;
}

img{
  font-size: 0;
  border: none;
  outline: none;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

button{
  border: none;
  outline: none;
  background-color: transparent;
}

button:focus{
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
  &::selection{
    background-color: #1c93d5;
    color: #fff;
  }
}
//place holder style
::-webkit-input-placeholder{
  color: #cecece;
}
::-moz-placeholder{
  color: #cecece;
}/* Firefox 19+ */
:-moz-placeholder{
  color: #cecece;
}/* Firefox 18- */
:-ms-input-placeholder{
  color: #cecece;
}
.show{
  display: block !important;
}

input{
  font-family: $font-family;
  outline: none;
  padding: 0;
  border: none;
  font-weight: normal;
  font-size: 14px;
}

textarea{
  outline: none;
  border: none;
}

.col{
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
}

.to-right{
  float: right; 
}

.to-left{
  float: left;
}

.clearfix:after{
  content:"";
  display:block;
  clear:both;
}