$blue: #81b3d2;
$grey: #696969;
$grey-f2: #f2f2f2;
$white: #fff;

$font-title: 18px;
$font-big: 21px;

$font-family: "PT Sans", Arial, sans-serif;

$line-height: 21px;
$line-height-input: 26px;
$line-height-title: 24px;

$mobile: 740px;
$tablet: 1024px;
