.logo-wrap{
  text-align:center;
  position:relative;
  z-index:20;
}

@media (min-width: $mobile){
  .logo-wrap{
    position:absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);
  }
}


.main-logo{
  display:inline-block;
}
