.form-title{
  font-size:$font-title;
  line-height:$line-height-input;
  font-weight:bold;
  margin-bottom:30px;
  text-align:center;
  &--radio{
    margin-bottom:40px;
  }
  &--travel{
    margin-bottom:25px;
  }
  &--photo{
    margin-bottom:18px;
  }
  &--visited{
    margin-top:8px;
    margin-bottom:34px;
  }
}

@media(min-width: $mobile){
  .form-title{
    font-size:$font-big;
    position:relative;
    margin:0 auto;
    margin-bottom:27px;
    width:310px;
    &:after{
      content:"";
      position:absolute;
      width:125px;
      height:1px;
      top:13px;
      right:-180px;
      background-color:#dbdbdb;
    }
    &:before{
      content:"";
      position:absolute;
      width:125px;
      height:1px;
      top:13px;
      left:-180px;
      background-color:#dbdbdb;
    }
    &--visited{
      margin-bottom:63px;
      &:before{
        content:"";
        position:absolute;
        width:125px;
        height:1px;
        top:25px;
        left:-190px;
        background-color:#dbdbdb;
      }
      &:after{
        content:"";
        position:absolute;
        width:125px;
        height:1px;
        top:25px;
        right:-180px;
        background-color:#dbdbdb;
      }
    }
    &--radio{
      margin-bottom:57px;
    }
    &--photo{
      margin-bottom:57px;
    }
    &--travel{
      margin-bottom:30px;
    }
  }
}

@media(min-width: $tablet){
  .form-title{
    &:after{
      content:"";
      position:absolute;
      width:310px;
      height:1px;
      top:13px;
      right:-370px;
      background-color:#dbdbdb;
    }
    &:before{
      content:"";
      position:absolute;
      width:310px;
      height:1px;
      top:13px;
      left:-370px;
      background-color:#dbdbdb;
    }
    &--visited{
      margin-bottom:60px;
    }
  }
}