.bridge{
  overflow:hidden;
}

.bridge-description{
  color:$white;
  text-align:center;
  padding-top:31px;
  padding-bottom:37px;
  background-color:$blue;
  &__title{
    font-size:$font-title;
    font-weight:bold;
  }
  &__reason{
    position:relative;
    width:50px;
    margin:0 auto;
    margin-bottom:15px;
    &:before{
      content:"";
      position:absolute;
      height:2px;
      width:9px;
      top:8px;
      left:0;
      background-color:$white;
    }
    &:after{
      content:"";
      position:absolute;
      height:2px;
      width:9px;
      top:8px;
      right:0;
      background-color:$white;
    }
  }
  &__text{
    width:260px;
    margin:0 auto;
    line-height:$line-height;
  }
}


@media(min-width: $mobile){
  .bridge-description{
    max-height:165px;
    overflow:hidden;
    float:right;
    width:33%;
    padding-top:47px;
    padding-bottom:47px;
    &__title{
      font-size:$font-big;
      width:153px;
      margin:0 auto;
      line-height:$line-height-title;
      margin-bottom:15px;
    }
    &__reason{
      margin-bottom:18px;
    }
    &__text{
      width:170px;
      margin:0 auto;
    }
  }
}

@media(min-width: $tablet){
  .bridge-description{
    padding-top:54px;
    padding-bottom:40px;
  }
}

.bridge-image{
  overflow:hidden;
  img{
    width:100%;
    height:auto;
  }
}

@media(min-width: $mobile){
  .bridge-image{
    float:left;
    width:67%;
    height:256px;
    img{
      min-height:256px;
    }
  }
}