.hotels{
  text-align:center;
  padding-top:32px;
  padding-bottom:50px;
  &__title{
    margin:0;
    margin-bottom:25px;
  }
  &__text{
    line-height:24px;
    width:260px;
    margin:0 auto;
    margin-bottom:33px;
  }
}

@media(min-width: $mobile){
  .hotels{
    padding-top:53px;
    padding-bottom:58px;
    &__title{
      font-size:30px;
      line-height:30px;
      margin-bottom:30px;
    }
    &__text{
      width:397px;
      margin-bottom:41px;
    }
  }
}

@media(min-width: $tablet){
  .hotels{
    &__text{
      margin-bottom:46px;
    }
  }
}

.hotels-btn{
  display:inline-block;
  background-color:$blue;
  text-decoration:none;
  color:$white;
  padding:20px 47px;
  font-size:$font-big;
  font-weight:bold;
  transition: all 0.4s ease;
  &:hover{
    background-color:darken($blue, 10%);
  }
  &:active{
    background-color:darken($blue, 15%);
    color:rgba(250, 250, 250, 0.2);
  }
}

@media(min-width: $mobile){
  .hotels-btn{
    padding:20px 135px;
  }
}
