.main-nav{
  display:none;
  
  &__list{
    padding:0;
    margin:0;
  }
  &__item{
    list-style-type:none;
    font-size:$font-title;
    font-weight:bold;
    text-align:center;
    background-color:$blue;
    border-bottom:1px solid #678fa8;
    &--shadow{
      border-bottom:none;
      box-shadow:inset 0 -1px 2px 0 rgba(0, 0, 0, 0.2);
    }
  }
  &__link{
    text-decoration:none;
    color:$white;
    display:block;
    padding:19px;
    transition: all 0.4s ease;
    &:hover{
      background-color:darken($blue, 5%);
    }
    &:active{
      background-color:darken($blue, 15%);
      color:rgba(250, 250, 250, 0.3);
    }
  }
  &-open{
    display:block;
  }
}

@media (min-width: $mobile){
  .main-nav{
    display:block;
    font-size:0;
    padding-bottom:15px;
    &__item{
      display:inline-block;
      vertical-align:baseline;
      font-size:14px;
      background:none;
      border:none;
      box-shadow:none;
      width:20%;
      padding:0;
      padding-top:17px;
      &:nth-child(2){
        padding-right:20%;
      }
    }
    &__link{
      color:#000;
      display:inline;
      padding:0;
      &:hover{
        color:$blue;
        background-color:transparent;
      }
      &:active{
        color:#b2b2b2;
        background-color:transparent;
      }
      &--active{
        color:#766357;
        &:hover{
          color:darken(#766357, 10%);
        }
        &:active{
          color:lighten(#766357, 35%);
        }
      }
    }
  }
}